.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  letter-spacing: -0.05rem;
}

.featurette-image {
  border-radius: 10px;
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}
