@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: BodoAmat;
  src: url(/fonts/bodo_amat/BodoAmat.ttf) format("truetype");
}

@font-face {
  font-family: EspressoShow;
  src: url(/fonts/espresso_show/EspressoShow.ttf) format("truetype");
}

:root {
  font-family: BodoAmat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // TODO: Apply colors to bootstrap
  --primary: #6369dd;
  --danger: #b44527;
  --success: #8cb840;
}

* {
  font-size: 100%;
  font-family: BodoAmat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: EspressoShow;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.2em;
}

.primary {
  background-color: var(--primary);
  color: rgb(255, 255, 255);
}

.danger {
  background-color: var(--danger);
  color: rgb(255, 255, 255);
}

.success {
  background-color: var(--success);
  color: rgb(255, 255, 255);
}

button:hover {
  filter: brightness(120%);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
