$primary: #6369dd;
$success: #8cb840;
$danger: #b44527;

@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: BodoAmat;
  src: url(/fonts/bodo_amat/BodoAmat.ttf) format("truetype");
}

@font-face {
  font-family: EspressoShow;
  src: url(/fonts/espresso_show/EspressoShow.ttf) format("truetype");
}

.fun-font {
  font-family: BodoAmat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: EspressoShow;
  }
}
